#include <behaviors.dtsi>
#include <behaviors/tentatwo.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk-tentatwo/tentatwo.h>

/ {
    behaviors {
        enc: enc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // TODO: Replace behaviors with tentatwo behaviors
            // -------------------------------------------------
            // | 0 | 1 | 2 | 3 |
            // | 4 | 5 | 6 | 7 |
            // | 8 | 9 | 10| 11|
            bindings = <
                &tentatwo TENTATWO_BUTTON_0  &tentatwo TENTATWO_BUTTON_1  &tentatwo TENTATWO_BUTTON_2  &tentatwo TENTATWO_BUTTON_3
                &tentatwo TENTATWO_BUTTON_4  &tentatwo TENTATWO_BUTTON_5  &tentatwo TENTATWO_BUTTON_6  &tentatwo TENTATWO_BUTTON_7
                &tentatwo TENTATWO_BUTTON_8  &tentatwo TENTATWO_BUTTON_9  &tentatwo TENTATWO_BUTTON_10 &tentatwo TENTATWO_BUTTON_11
            >;

            sensor-bindings = <&enc MINUS PLUS>;
        };
    };
 };